.secret {
    color: gray;
    background-color: gray;
}

.secret::-moz-selection {
    color: black;
    background-color: black;
}

.secret::selection {
    color: black;
    background-color: black;
}
