{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Password storage</title>

  <link rel="stylesheet" href="{% static 'css/milligram.min.css' %}">
  <link rel="stylesheet" href="{% static 'site/main.css' %}">
  <style>
  </style>

</head>
<body>

  <!-- Navigation -->
  <nav class="navigation">
    <section class="container">
      <a class="navigation-title" href="/">My Passwords</a>
      <ul class="navigation-list float-right">
        <li>
          <a href="/">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="/account/logout/">Log out</a>
        </li>
        {% endif %}
      </ul>
    </section>
  </nav>

<!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>page header</h1>

       {% block content %}
       {% endblock %}

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
</body>
<html>
