{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Password storage</title>

  <link rel="stylesheet" href="{% static 'css/spectre.min.css' %}">
  <link rel="stylesheet" href="{% static 'site/main.css' %}">
  <style>
  </style>

</head>
<body>

  <section class="section grid-960">
    <!-- Navigation -->
    <header class="navbar">
      <section class="navbar-section">
        <a href="/" class="navbar-brand">My Passwords</a>
      </section>
      <section class="navbar-section">
      {% if user.is_authenticated %}
        <a href="/account/logout/" class="btn btn-link">Log out</a>
      {% endif %}
      </section>
    </header>
  </section>

<!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">

       {% block content %}
       {% endblock %}

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</body>
<html>
