{% extends 'base.html' %}

{% block navigation %}
  <h3><a href="..">Groups</a> &gt; {{ group.storage.name }}</h3>
  <div>
    <form method="post">
      {{ form }}
      <input type="submit" value="Add"/>
      {% csrf_token %}
    </form>
  </div>
{% endblock %}

{% block content %}
{% if resources %}
<table class="table">
  <thead>
    <tr>
    </tr>
  <thead>
  <tbody>
  {% for resource in resources %}
    <tr>
      <td>
        <a href="/resources/{{ resource.pk }}">{{ resource }}</a>
      </td>
      <td>
        <a href="{{ resource.url }}">&#128279;</a>
      </td>
      <td>
        <a href="/resources/{{ resource.pk }}/delete">[X]</a>
      </td>
    </tr>
  {% endfor %}
  <tbody>
{% else %}
No resources
{% endif %}

{% comment %}
<pre>
  {% debug %}
</pre>
{% endcomment %}

{% endblock %}
