{% extends 'base.html' %}

{% block content %}

  &gt; <a href="..">Groups</a> &gt; {{ group.storage.name }}
  
  <div>
    <form method="post">
      {{ form }}
      <input type="submit" value="Add"/>
      {% csrf_token %}
    </form>
  </div>

{% if resources %}
  <ul>
  {% for resource in resources %}
    <li>
      <a href="/resources/{{ resource.pk }}">{{ resource }}</a>
      <a href="{{ resource.url }}">[link]</a>
      {% comment %}
      {% endcomment %}
    </li>
  {% endfor %}
  </ul>
{% else %}
No resources
{% endif %}

{% comment %}
<pre>
  {% debug %}
</pre>
{% endcomment %}

{% endblock %}
