{% extends 'base.html' %}

{% block content %}

<!-- resources :: detail -->

<a href="/resources/groups/{{ resource.group_id }}">Resources</a> &gt; {{ resource }}

<form method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Add"/>
</form>

{% if items %}
  <ul>
  {% for item in items %}
    <li>
      {{ item.key }} <input class="secret" value="{{ item.val }}">
      <a href="{{ item.url }}">[link]</a>
      <span>{{ item.id }}</span>
      <a href="{% url 'delete_item' item_id=item.pk %}">[x]</a>
    </li>
  {% endfor %}
  {% comment %}
  {% endcomment %}
  </ul>
{% else %}
No items
{% endif %}

{% endblock %}
