{% extends 'base.html' %}

{% block content %}

<a href="/resources/groups/{{ resource.group_id }}">Resources</a> &gt; {{ resource }}

<form method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Add"/>
</form>

{% if items %}
  <ul>
  {% for item in items %}
    <li>
      {{ item.key }}:<input class="secret" value="{{ item.val }}">
      {{ item.id }}
      <a href="{% url 'delete_item' resource_id=resource.id  item_id=item.pk %}">[x]</a>
      {% comment %}
      {% endcomment %}
    </li>
  {% endfor %}
  </ul>
{% else %}
No items
{% endif %}

{% endblock %}
